/*
Theme Name: Futura
Theme URI: 
Author: Will Carvalho
Author URI: http://williamcarvalho.net.br/
Description: FUTURA is a clean and objective theme. Simple and direct typography, readable in a wide variety of screen sizes.
Version: 1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, right-sidebar, fluid-layout, flexible-header, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, full-width-template, theme-options, threaded-comments, translation-ready
Text Domain: futura

Futura WordPress Theme, Copyright (C) 2016, Will Carvalho
Futura is distributed under the terms of the GNU GPL
*/

* {margin: 0; padding: 0;}
html, body {
    height: 100%;
    font-family: 'Josefin Slab', serif;
}
body {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
a:link, a:active, a:hover, a:visited {
    color: #dd725d;
}
a:hover, a:active {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    text-decoration: underline;
    color: #000; -webkit-transition: all 0.6s; transition: all 0.6s;
}
img { max-width: 100%; height: auto; }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.bypostauthor {}
.sticky {}
.gallery-caption {}
/* =WordPress Core
-------------------------------------------------------------- */


/****
Navbar
***/
#navbar .navbar-brand { color: #dd725d; }
#navbar .navbar-brand:hover, #navbar .navbar-brand:active { color: #000; -webkit-transition: all 1s; transition: all 1s; }
#navbar, #navbar .navbar { /*z-index: 5;*/ }
.admin { margin: 32px 0 0; }

/***
header
***/
header {
    position: relative;
    min-height: 35.625em;
    width: 100%;
    height: 100%;
	background-color: #fff;
}

/** Pattern - slide, section **/
.pattern {
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    display:block;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Slider */
#slideshow { 
    margin: 0 auto 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

#slideshow > div.slider { 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
	background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    background-size: auto 100%;
}
div.no-slider { 
    margin: 0 auto 0;
    position: absolute;
    /*z-index: 0;*/
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    background-size: 100%;
}

/* PAGE - header */
header.page .page-header { 
    margin: 0 auto 0;
    position: relative; 
    padding: 5% 0 0 0;
    border: 0;
    z-index: 1;
    width: 100%; height: 100%;
	display: block !important;
}
header.page .page-header .logo {
    margin: 0 auto;
    position: relative;
    display: block;
	max-height: 80%;
    width: auto;
}

/* Header - Thumbnail */
header.home .page-header { 
    margin: 0 auto 0;
    position: relative; 
    padding: 10% 0 0 0;
    border: 0;
    z-index: 1;
    width: 100%; height: 100%;
	display: block !important;
}
header.home .page-header .logo {
    margin: 0 auto;
    position: relative;
    display: block;
    max-width: 100%;
    min-width: 50%;
	max-height: 80%;
    width: auto;
}
header.home .page-header a.thumbnail:link, header.home .page-header a.thumbnail:visited {
    text-decoration: none;
    border: 0;
}
header.home .page-header a.thumbnail:hover, header.home .page-header a.thumbnail:active {
    text-decoration: none;
    background-color: rgba(27, 188, 155, 1);
    border: 0;
    color: #fff;
}

/* CONTENT */

/* posts */
.solid {
	padding: 2% 0;
    position: relative;
    /*z-index: 0;*/
}
.content{
    min-height: 9.375em;
    display: block;
}
.content img{
	max-width: 100%;
	height: auto;
}


/* parallax */
.bgParallax .jumbotron {
	background: none;
}
.bgParallax {
	width:100%;
    margin: 0 auto;
    min-height: 25.000em;
    padding: 0 0 0;
    position: relative;
    background-size: auto 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    background-color: #fff;
	display: table;
}
.bgParallax .container {
	width:100%;
    vertical-align:middle;
    display: table-cell;
    position: relative;
	z-index: 2;
}
.bgParallax a.thumbnail{
    background: none;
    border: 0;
    position: relative;
}
.bgParallax a.thumbnail:link, .bgParallax a.thumbnail:hover, .bgParallax a.thumbnail:active, .bgParallax a.thumbnail:visited {
    color: #fff;
    text-decoration: none;
}
.bgParallax .thumbnail img {
    width: 50%;
}
.bgParallax .thumbnail img.wp-post-image {
	margin-top: -50%;
}

/** Plus Hover **/
.plus {
  /*z-index: 3;*/
  opacity: 0;
  background-color: rgba(221, 114, 93, 0.5);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  display: block;
  position: relative;
}
.plus > img { width: 100%; }
.plus:hover { opacity: 1; }

div.bgParallax > div > div > div > a > img.plus.img-circle {
    width:49%;
    height: 96%;
    top: 4px;
    left: 25.7%;
}

/* Content main */
#main {
    font-family: "Noto Sans", sans-serif;
}
header.home {
    height: 100%!important;
    min-height: 100%!important;
}
header.page {
    height: 21.875em;
    min-height: 21.875em;
}
header.page .page-header {
    display: none;
}
header.page .no-slider {
    background-position: 100% 0;
}

.page-numbers {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
}
.page-numbers.current,
a.page-numbers:hover {
    background: #f9f9f9;
}
.navigation.pagination h2{
    display: none;
}

/***
Sidebar
***/
#sidebar table {
    width: 100%;
}
/***
Comments
***/
.comments {
	padding-top: 2%;
}
.comments img.avatar {
    min-width: 4.000em;
    height: 4.000em;
}
.comments .children {
    margin-left: 4.000em;
}
/* Details */
ul {
    list-style-position: inside;
}

/** fade **/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}